<% path = [@invoice, @invoice_row] if @invoice %>
<% path ||= @invoice_row %>

<%=simple_form_for(path) do |f| %>
  <%= f.error_notification %>

  <%= render 'invoice_row_fields', f: f %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
