<p id="notice"><%= notice %></p>

<dl>
    <%= render 'invoice_row', invoice_row: @invoice_row %>
</dl>

<%= link_to 'Edit', edit_invoice_row_path(@invoice_row) %> |
<%= link_to 'Back', invoice_path(@invoice_row.invoice) %>
