@import "util";
@import "bootstrap";
@import "inline_fields";

body {
  padding: 10px;
}

table {
  @extend .table;
  @extend .table-striped;
}

button, a, input[type=submit] {
  @extend .btn;
  @extend .btn-primary;
  margin-right: 2px;
}

.form-actions {
  @extend .pull-left;
}

.form-inputs{
  margin-bottom: 10px;
}

.control-group{
  @extend .form-group;
}
